@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f3f6fa;
}


/* Loading spinner */
.spinner {
  border: 3px solid rgba(76, 175, 80, 0.1);
  border-radius: 50%;
  border-top-color: #3de042;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}